{
	"irc": [
		{
			"name": "freende",
			"host": "localhost:6668",
			"nick": "hello",
			"user": "hello",
			"realname": "Powered by GoIRC",
			"password": "world",
			"channels": ["go-nuts"]
		}
	],
	"web": {
		"addr": ":5005",
		"password": "dankogai",
		"root": "/mobirc/",
		"backlog": "./backlog.json",
		"keywords": ["dan", "kogai"]
	}
}
