<!DOCTYPE HTML>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	{{range $message := .Messages}}
	{{html $message.Time}}({{html $message.Nickname}}) {{html $message.Text}}<br />
	{{end}}
</body>
</html>
